/*
	@eric
*/
body {
	background: #D2E0F2;
}

input {
	width: 140px;
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
	border-width: 1px;
	border-left: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}

.form-textarea {
	margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: inherit;
    overflow: auto;
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

input[readonly] {
	background-color: #EBEBE4;
}

.radio {
	margin: 0;
	padding: 0;
	width: 14px;
	height: 14px;
	border: 0px;
}

a {
	color: Black;
	text-decoration: none;
}

a:hover {
	color: Red;
	text-decoration: underline;
}

#body {
	border: 0;
	padding: 3px;
	overflow: hidden;
}

.body {
	border: 0;
	padding: 3px;
	overflow: hidden;
}

#invest_member_body {
	border: 0;
	padding: 3px;
	overflow: hidden;
}

#search_area {
	margin-bottom: 3px;
	border: 1px solid #99BBE8;
	background-color: #EFEFEF;
}

.search_area {
	margin-bottom: 3px;
	border: 1px solid #99BBE8;
	background-color: #EFEFEF;
}

.openOrClose {
	display: block;
	cursor: pointer;
	background: url(../images/open.jpg) 0 0 no-repeat;
	margin: 0px auto;
	padding: 0px;
	width: 50px;
	height: 5px;
	overflow: hidden;
	text-indent: -999px;
}

#openOrClose {
	display: block;
	cursor: pointer;
	background: url(../images/open.jpg) 0 0 no-repeat;
	margin: 0px auto;
	padding: 0px;
	width: 50px;
	height: 5px;
	overflow: hidden;
	text-indent: -999px;
}

.footer {
	text-align: center;
	color: #15428B;
	margin: 0px;
	padding: 0px;
	line-height: 23px;
	font-weight: bold;
}

.windowButton {
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 7px;
}

.showWindowButton {
	display: block;
	width: 100%;
	border: 0px solid red;
	text-align: center;
	height: auto;
	line-height: 30px;
	position: absolute;
	bottom: 10px;
	/*right: 7px;*/
	margin: 0 auto;
}

.showDetail {
	color: blue;
	text-decoration: underline;
}

.clearable {
	background-color: #EBEBE4;
}

.my-dialog-button {
	margin-right: 3px;
	border: 1px solid #ccc !important;
	padding: 0 5px 0 0 !important;
}

.my-search-button {
	margin-right: 3px;
	border: 1px solid #ccc !important;
	padding: 0 5px 0 0 !important;
	background: url('../images/button_plain_hover.png') repeat-x !important;
}

.x {
	color: #FF0000;
}

#parent_win {
	display: block;
	overflow: hidden;
}

.northTitle {
	font-family: '微软雅黑';
	font-size: 24px;
	font-weight: bold;
	height: 60px;
	line-height: 40px;
}

.loginInfo {
	border: 0px solid red;
	display: block;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

#sysVersion {
	border: 0px solid red;
	height: 25px;
	overflow: hidden;
	position: absolute;
	left: 10px;
	text-align: center;
	align: center;
}

#nowTime {
	border: 0px solid red;
	height: 25px;
	width: 200px;
	text-align: left;
	overflow: hidden;
	position: absolute;
	right: 10px;
}

#conditon {
	overflow: hidden;
}

.conditon {
	overflow: hidden;
}

.icon {
	padding-left: 18px;
	display: inline-block;
	line-height: 18px;
}

#dataCharts {
	margin-top: 80px;
}

.investPro-search {
	font-family: "Microsoft YaHei";
	font-size: 13px;
}

#conditon {
	margin-top: 10px;
	margin-left: 20px;
}

.conditon {
	margin-top: 10px;
	margin-left: 20px;
}

#investPro_add_contans {
	padding: 10px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
}

.content {
	padding: 10px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	margin-bottom: 50px;
}

.content form div {
	margin-top: 10px;
}

.content form div input,.content form div select {
	width: 150px;
	height: 30px;
}

#investPro_add_contans #investProSaveForm div {
	margin-top: 10px;
}

#investPro_add_contans #investProSaveForm div input,#investPro_add_contans #investProSaveForm div select
	{
	width: 200px;
	height: 30px;
}

#investPro_add_contans #investProEditForm div {
	margin-top: 10px;
}

#investPro_add_contans #investProEditForm div input,#investPro_add_contans #investProEditForm div select
	{
	width: 200px;
	height: 30px;
}

#body_add_investpro .combo-p .combo-panel {
	height: 40px;
}

.bodyContent .combo-p .combo-panel {
	height: 40px;
}

.investPro_add_from_label {
	display: inline-block;
	width: 100px;
	text-align: right;
}

.from_label {
	display: inline-block;
	width: 100px;
	text-align: right;
}

.applyLoanInfo_from_label {
	display: inline-block;
	width: 200px;
	text-align: right;
}

#footer-oper {
	background-color: #f2f2f2;
	width: 100%;
	height: 50px;
	clear: both;
}

.footer-oper {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	_position: absolute;
	_top: expression_r(documentElement.scrollTop +    
		 documentElement.clientHeight-this.offsetHeight);
	overflow: visible;
}

#footer-oper #content-oper {
	padding-top: 10px;
}
/* 
.footer-oper{
	background-color:#f2f2f2;
	width:100%;
	height:50px;
    clear:both;    
} */
.footer-oper .content-oper {
	padding-top: 10px;
}

#investProManage-update-btn,#investProManage-delete-btn {
	
}

.contans .form div {
	margin-top: 10px;
}

.contans .form div input,.contans .form div select {
	width: 200px;
	height: 30px;
}

.contans .form div label {
	width: 100px;
	height: 30px;
}

.contans {
	padding: 10px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
}
/********************************************investOrLanInfo.jsp***********************************************************/
.row1 {
	background-color: #f7f7f7;
	height: 45px;
}

.row0 {
	background-color: #fff;
	height: 45px;
}

.label_member {
	padding-top: 10px;
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 16px;
}

.span_member {
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 14px;
}

#footer {
	background-repeat: repeat-x;
	clear: both;
	height: 24px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 30px;
	width: 95%;
}

#footerbox {
	color: #fff;
	margin: 0;
	padding: 0;
	clear: both;
	position: absolute;
	bottom: 0px;
	width: 95%;
}

.footer {
	width: 100%;
	color: #fff;
	margin: 0 auto;
	padding: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:HOVER {
    background-color: #e6e6e6;
}
.btn-primary {
	color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:HOVER {
    background-color: #3071a9;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success {
    background-color: #449d44;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:HOVER {
    background-color: #31b0d5;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:HOVER {
    background-color: #ec971f;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:HOVER {
    background-color: #c9302c;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    font-weight: 400;
    color: #428bca;
    border-radius: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.footer-btn {
	text-align: right;
	margin: 15px;
	pointer-events: auto;
}